.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

h6.App-login a {
  text-decoration: none;
}

.App-header {
  text-align: left;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}


.App-header h1 a {
  color: white;
}

.App-header h1 a {
  text-decoration: none;
}

.App-title.center {
  text-align: center;
}

.App-title.center a {
  color: white;
  text-decoration: none;
}
h1.App-title a.MenuLink:hover {
  color: lightgrey;
}

.App-header h4, .App-header h1 {
  display: inline-block;
  padding-left: 40px;
}

.big-box-projects {
  background-color: grey;
  border: black solid 1px;
  margin: 20px;
}

.box-resume {
  background-color: lightsalmon;
  border: orangered solid 1px;
  margin: 20px;
}

.resume {
  background-color: white;
  border: black solid 1px;
  margin: 20px;
}

.box-books {
  background-color: green;
  border: forestgreen solid 2px;
  margin: 20px;
}

.book-description {
  background-color: white;
  border: black solid 1px;
  margin: 20px;
  width: 280px;
}

.book {
  background-color: white;
  border: black solid 1px;
  margin: 20px;
  padding: 20px;
  width: 360px;
  display: inline-block;
}

.box-project {
  background-color: white;
  border: black solid 2px;
  margin: 20px;
  padding: 20px;
  width: 360px;
  display: inline-block;
}

.App-header h6 {
  float: right;
}

.App-header h6 a {
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}